#comment-post-message{height:0;visibility:hidden;display:none}
ul,ol,dl{
padding:0;
margin:0;
}
body{
background:#eeeeee;
color:#444444;
height:100%;
font-family:"Helvetica Neue Light",HelveticaNeue-Light,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:14px;
font-weight:400;
line-height:22px;
text-decoration:none;
margin:0;
padding:0;
}
a,a:link,a:visited{
color:#555555;
text-decoration:none;
}
a:hover,a:active{
color:#cd2e2e;
text-decoration:none;
}
h2.date-header{display:none}
.header-wrapper{
width:968px;
color:#333;
min-height:90px;
position:relative;
z-index:999;
margin:0 auto;
border-bottom: 20px solid #dddddd;
border-top: 5px solid #ffffff;
overflow:hidden;
}
#header{
max-width:228px;
float:left;
width:auto;
overflow:hidden;
z-index:999;
min-width:228px;
margin:auto;
padding-top:12px;}
#header-inner{margin:0px;padding:0}
#header h1,#header p{
font:32px Oswald;
line-height:30px;
color:#333;
text-shadow:1px 1px #fff,1px 1px #ccc,2px 2px #ccc,3px 3px #ddd;
padding-bottom:10px;
margin:0;
}
#header h1 a,#header h1.title a:hover{
color:#48b;
text-decoration:none;
}
#header .description{
color:#333;
font:14px Oswald;
text-shadow:none;
}
#header img{
border:0 none;
background:none;
width:auto;
height:auto;
margin:0 auto;
}
#header2{
float:right;
width:728px;
margin:0px 10px 0px 0px;
}
.header2 .widget{
margin:0 auto;
padding:5px 0;}
.page-menu{
background-color:#dddddd;
background: linear-gradient(#F5F5F5, #C1C1C1) repeat scroll 0 0 transparent;
width:100%;
margin:0 auto;
padding:0;
border-color: #FFFFFF #CCCCCC #999999 #EEEEEE;
border-style: solid;
border-width: 0px;
color: #555555;
}
.page-menu ul{
list-style:none;
color:#555555;
width:968px;
margin:0 auto;
padding:0;
}
.page-menu ul li{
list-style:none;
line-height:34px;
display:inline-block;
}
.page-menu li a{
color:#555555;
font-size:13px;
text-decoration:none;
text-transform:capitalize;
padding:0 10px;
border-right:1px solid #aaa;
}
.page-menu li a:hover{color:#cd2e2e;}
.outerpic-wrapper{
background:#fff;
width:100%;
padding:0px;
margin:0 auto;
overflow:hidden;
}
.content-wrapper{
box-shadow:0 10px 15px rgba(0,0,0,0.23);
position:relative;
max-width:968px;
margin:0 auto;
}
.outer-wrapper{
position:relative;
width:100%;
padding:0;
}
.main-wrapper{
text-align:justify;
width:650px;
margin-top:20px;
float:left;
word-wrap:break-word;
overflow:hidden;
}
.clr{
clear:both;
float:none;
}
h2{
line-height:1.4em;
text-transform:none;
color:#333;
margin:.5em 0 .25em;
}
h3.date-header{
text-transform:none;
font:normal 12px;
font-family:"Helvetica Neue Light",HelveticaNeue-Light,"Helvetica Neue",Helvetica,Arial,sans-serif;
color:#999;line-height:1.2em;
margin:.1em 0}
.post{
margin:0px 15px 0px 15px;
padding:0px;
text-align:left;
background:#ffffff;
}
.post h1,.post h2{
font-size:20px;
line-height:1.2em;
color:#555555;
margin:0;
padding:0;
}
.post h1 strong,.post h1 a:hover,.post h2 strong,.post h2 a:hover{color:#cd2e2e;}
.post-body{
text-align:justify;
border-top:2px solid #dddddd;
padding-top:10px;
font:normal 14px;
margin:1.0em 0em 0em;
line-height:1.3em;
}
.post-body a{
color:#0000ff;
text-decoration:none;
}
.post-body a:hover{
color:#cd2e2e;
text-decoration:underline;
}
.post-body blockquote{line-height:1.3em}
.post-footer{
color:#666;
text-transform:none;
letter-spacing:.01em;
font:12px;
line-height:1.4em;
margin:.75em 0;
}
.comment-link{
margin-left:.1em;
}
.post blockquote{
background:#eee;
color:#333;
margin:0px;
padding:15px 10px;
position:relative;
quotes:"\201C" "\201D" "\2018" "\2019";
font-style:italic;
}
.post blockquote:before {
content:open-quote;
position:relative;
top:0;
left:0;
font-family:'Times New Roman', Georgia, serif;
font-size:5em;
margin:0;
vertical-align:-0.4em;
}
.post blockquote p{
margin:.75em 0;
}
.post img{
border:6px solid #d9d9d9;
}
#header2 img,.sidebar1 img,.sidebar img,.crosscol1 img,.crosscol2 img{
max-width:100%;
width:auto;
-ms-interpolation-mode:bicubic;
border:0;
}
.video-container{
position:relative;
margin:0 0 15px 0;
padding-bottom:51%;
padding-top:30px;
height:0;
overflow:hidden;
border:1px solid #ccc;
}
.video-container iframe,.video-container object,.video-container embed{
position:absolute;
top:0;left:0;
width:100%;
height:100%;
}
#related-posts{
float:left;
width:100%;
margin:0px;
padding:0px;
}
#related-posts h2{
font-size: 15px;
color:#000000;
margin:0px;
padding:0;
}
#related-posts a{
font:12px;
}
#related-posts li{
text-indent:0;
line-height:1.2em;
border-bottom:1px dashed #cdcdcd;
margin:0;padding:10px 0 15px 0px;
}
#related-posts a:hover{
color:#cd2e2e;
text-decoration:none;
}#related-posts .widget{
margin:0;
padding:0;
}
#related-posts ol{
margin:0px 0 15px 20px;
padding:0px;
}
.readmorecontent{
float:right;
margin:5px 0px 0px 0px;
padding:2px 0;
}
.readmorecontent a{
color:#555555;
text-shadow:0 1px 0 rgba(255,255,255,.5);
border-width:1px;
border-style:solid;
border-color:#fff #ccc #999 #eee;
background:#c1c1c1;
background:-moz-linear-gradient(#f5f5f5,#c1c1c1);
background:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#c1c1c1));
background:-webkit-linear-gradient(#f5f5f5,#c1c1c1);
background:-o-linear-gradient(#f5f5f5,#c1c1c1);
background:-ms-linear-gradient(#f5f5f5,#c1c1c1);
background:linear-gradient(#f5f5f5,#c1c1c1);
text-decoration:none;
font:bold 11px Arial;
padding:5px 7px;
}
.readmorecontent a:hover{
text-decoration:none;
color:#cd2e2e;
}
#blog-pager{
text-align:center;
color:#333;
margin: 0px 15px 18px 15px;
padding-top: 20px;
border-top: 3px solid #555555;
}
#blog-pager-newer-link a{
background:#555555;
float:left;
display:inline;
color:#ffffff;
font-size:12px;
font-weight:700;
border:1px solid #444444;
padding:0 8px;
}
#blog-pager-older-link a{
float:right;
display:inline;
background:#555555;
color:#ffffff;
font-size:12px;
font-weight:700;
border:1px solid #444444;
padding:0 8px;
}
.menusearch{
width:200px;
float:right;
margin:0 auto;
padding:4px 10px 0 0;
}
.searchform{
margin-top:0px;
display:inline-block;
*display:inline;
padding:0;
background:#fff;
width:200px;
height:23px;
overflow:hidden;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
border:1px solid #c0c0c0;
}
.searchform input{
font:italic 12px Arial;
color:#222;
line-height:23px;
height:23px;
padding:0;
margin:0;
}
.searchform .searchfield{
background:transparent;
padding:0 0 0 6px;
margin:0;
width:160px;
height:23px;
border:0px;
outline:none;
line-height:23px;
}
.searchform .searchbutton{
border:none;
font-size:12px;
height:23px;
width:23px;
margin:0;
padding:0;
}
.sidebar-wrapper{
background-color:none repeat scroll 0 0 #fff;
width:308px;
float:right;
word-wrap:break-word;
overflow:hidden;
padding:0px;
margin: 10px 10px 0 0;
box-shadow:0 0 15px #999999;
}
.sidebar{
color:#666;
line-height:1.3em;
border:1px solid #fffffe;
font:11px;
}
.sidebar h2{
background-color:#efece6;
background-image:linear-gradient(#eeeeee,#d0d0d0);
box-shadow:0 1px 1px rgba(0,0,0,0.23);
font-size:15px;
font-weight:bold;
padding:4px 5px 4px 5px;
line-height: 1.4em;
margin: 0 0 0.25em;
text-transform: none;
}
.sidebar ul {
font-weight:normal;
}
.sidebar li {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #DDDDDD;
font-family: Georgia;
font-size: 12px;
line-height: 1.4em;
list-style: none outside none;
margin: 5px;
padding: 0.9em;
}
.PopularPosts .widget-content ul li {
padding: 0.8em;
}
.sidebar .widget {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #DDDDDD;
padding: 0 0 10px;
margin: 1px 1px 3px 1px;
}
.sidebar p{
margin:0;
padding:5px 0px 0px 5px;
line-height: 1.6em;
font-size: 12px;
}
.sidebar a img{
border:none;
margin:5px;
padding:0;
}
.sidebar a{
font-family: Georgia;
font-size: 12px;
}
#footer{
background:#303030;
border-bottom:1px solid #000;
border-top:1px solid #111;
width:100%;
padding:0;
text-shadow:-1px -1px #111
}
#subscription-pop{
background:#ffffff;
padding:10px;
}
#subscription-pop .title{
font-size:130%;
color:#111;}
.sbutton{
height:23px;
color:#fff;
cursor:pointer;
padding:0 3px 3px;
-moz-box-shadow:1px 1px 0px #000;-webkit-box-shadow:1px 1px 0px #000;
background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#555555),color-stop(1,#555555));
background:-moz-linear-gradient(center top, 5%,#555555 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fde2c',endColorstr='#555555');
background-color:#555555;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;border:0px solid transparent;
}
.qfield {width:70%;margin:8px 0;}
.sbutton:hover{
text-decoration: none;
color: #fff;
background: #cd2e2e;
}
.footer-header{
width:100%;
height:20px;
margin: 0 auto;
text-align:center;
color: #bebebe;
font-weight:600;
text-transform:capitalize;
font-size:13px;
}
.footer-wrapper{
color:#aaa;
font:12px;
height:100%;
line-height:16px;
overflow:hidden;
padding:0;
}
.footer{
float:left;
margin: 10px 20px 0;
width: 20%;
}
.footer .widget{
margin-bottom:30px;
}
.footer h2{
border-bottom: 1px solid #717171;
color: #fff;
font-weight: bold;
font-size: 18px;
margin: 0 0 10px;
padding: 0px 0 5px;
text-align: left;
}
.footer .widget-content{line-height:20px}
.footer ul{
list-style:none;
color:#EAE9E8;
margin:0;
padding:0;
}
.footer a:link,.footer li a:visited{color:#aaa;
text-decoration:none}
.footer li a:hover{color:#fff}
#credit{
background:#303030;
border-top:1px solid #565656;
font:11px Tahoma;
color:#bebebe;
width:100%;
overflow:hidden;clear:both;padding:10px 0;line-height:18px}
#credit .left{float:left;text-align:left;margin-left:10px}
#credit .right{float:right;
text-align:right;margin-right:10px}
#credit a{
color:#bebebe;
text-decoration:none;
}
#credit a:hover{
color:#ffffff;
text-decoration:none;
}


.isocial{
list-style:none;
margin:0;
padding:0px 10px 0 0;
}

.isocial li{
float:right;
margin:0 5px;
padding:0;
}
.isocial li a{
float:right;
background-image:url(http://3.bp.blogspot.com/-FynHum65sC0/UrrFKb0pDvI/AAAAAAAAAGA/jIqR0ro78ic/s1600/01.gif);
background-position:0 0;
background:repeat:no-repeat;
display:inline-block;
text-indent:-9999px;
overflow:hidden;
width:24px;
height:24px;
position:relative;
}
.isocial li a.facebook{background-position:-1px 0}
.isocial li a.facebook:hover{background-position:-1px -25px}
.isocial li a.twitter{background-position:75px 0}
.isocial li a.twitter:hover{background-position:75px 24px}
.isocial li a.google{background-position:50px 0}
.isocial li a.google:hover{background-position:50px 24px}
.isocial li a.youtube{background-position:25px 0}
.isocial li a.youtube:hover{background-position:25px 24px}
.middlesection {clear:both;width:100%;overflow:hidden;}
.gritline {float:left;margin:0px 20px 15px 0px;width:31%;}
.gritline h2 {color:#0000ff;text-decoration:none;font-size:20px;margin:0;padding:15px 0px 10px 0px;text-transform:capitalize;}
ul{padding:0;margin:0;list-style:none;line-height:20px;color:#999999;font-weight:bold;}
ul li {position:relative;}
ul li a.aentity {padding:3px 25px 4px 0px;border-top:1px dashed #e6e6e6;display:block;color:#000000;text-align:left;text-decoration: none;}
ul li .num {position:absolute;top:5px;right:0;color:#666666;padding:5px;font-size:12px;line-height:9px;
border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;text-align:right;cursor:default;}
ul li:hover > .num {background:#0000ff;color:#ffffff;}
ul li .num:hover {background:#cd2e2e;}
.commenttitle{font-size:16px;text-align:left;color:#555555;}
#comment-post-message {display:none;}
.comment-form {max-width:100% !important; margin-bottom:15px;}
.comments{margin:15px;padding:0px;line-height:1em;}
.comments .comments-content{font-size:12px;margin-bottom:16px;font-weight:normal;text-align:left;line-height:1.4em;}
.comments .comment .comment-actions a{display:inline-block;margin:0;padding:1px 6px;border:1px solid #C4C4C4;
border-top-color:#E4E4E4;border-left-color:#E4E4E4;color:#424242!important;text-align:center;text-shadow:0 -1px 0 white;
text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#EDEDED;
background:-webkit-gradient(linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5));
background:-moz-linear-gradient(center top,white 20%,#E5E5E5 100%);font:11px/18px sans-serif;padding:2px 8px;margin-right:10px;float:right;}
.comments .comment .comment-actions a:hover{text-decoration:none;background:#fff;border:1px solid #5AB1E2;}
.comments .comments-content .comment-thread ol{list-style-type:none;padding:0;text-align:left;}
.comments .comments-content .inline-thread{padding:0;}
.comments .comments-content .comment-thread{margin:8px 0;}
.comments .comments-content .comment-thread:empty{display:none;}
.comments .comments-content .comment-replies{margin-top:1em;margin-left:0px;font-size:12px;}
.comments .comments-content .comment{margin-bottom:16px;padding-bottom:8px;}
.comments .comments-content .comment:first-child{padding-top:16px;}
.comments .comments-content .comment:last-child{border-bottom:0;padding-bottom:0;}
.comments .comments-content .comment-body{position:relative;}
.comments .comments-content .user{color:#CD2E2E;font-family: Trebuchet MS;font-size:24px;font-weight: bold;}
.comments .comments-content .user a{color:#CD2E2E;font-family: Trebuchet MS;font-size:24px;font-weight: bold;}
.comments .comments-content .datetime{color:#999999;float:none;font-size:12px;text-decoration:none;font-family:Trebuchet MS;font-weight:bold;}
.comments .comments-content .datetime a {color:#0000ff;}
.comments .comments-content .icon.blog-author{width:18px;height:18px;display:inline-block;margin:0 0 -4px 6px;}
.comments .comments-content,.comments .comments-content .comment-content{margin:26px 0 8px;}
.comment-header{margin:0;padding:0;}
.comments .comments-content .comment-content{text-align:none;font-family:comic sans ms;font-size: 14px;}
.comments .comments-content .owner-actions{position:absolute;right:0;top:0;}
.comments .comments-replybox{border:none;height:250px;width:100%;}
.comments .comment-replybox-single{margin-top:5px;margin-left:48px;}
.comments .comment-replybox-thread{margin-top:5px;}
.comments .comments-content .loadmore a{display:block;padding:10px 16px;text-align:center;}
.comments .thread-toggle{cursor:pointer;display:inline-block;}
.comments .continue{cursor:pointer;}
.comments .continue a{display:inline-block;margin:0;padding:1px 6px;border:1px solid #C4C4C4;border-top-color:#E4E4E4;
border-left-color:#E4E4E4;color:#424242!important;text-align:center;text-shadow:0 -1px 0 white;text-decoration:none;
-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#EDEDED;
background:-webkit-gradient(linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5));
background:-moz-linear-gradient(center top,white 20%,#E5E5E5 100%);font:11px/18px sans-serif;padding:2px 8px;margin-right:10px;}
.comments .comments-content .loadmore{cursor:pointer;max-height:3em;margin-top:3em;}
.comments .comments-content .loadmore.loaded{max-height:0;opacity:0;overflow:hidden;}
.comments .thread-chrome.thread-collapsed{display:none;}
.comments .thread-toggle{display:inline-block;}
.comments .thread-toggle .thread-arrow{display:inline-block;height:6px;width:7px;overflow:visible;margin:0.3em;padding-right:4px;}
.comments .thread-expanded .thread-arrow{
background:url(http://4.bp.blogspot.com/-fhTZlJkFnPc/UQezZ0aM1ZI/AAAAAAAABcY/v1vUibnXaKc/s1600/arrow-down.png) no-repeat scroll 0 0 transparent;}
.comments .thread-collapsed .thread-arrow{
background:url(http://4.bp.blogspot.com/-WwOfybPl9ig/UQezafv_uNI/AAAAAAAABcg/uLkQHEqKKBM/s1600/arrow-right.png) no-repeat scroll 0 0 transparent;}
.comments .avatar-image-container{
background-image:url(http://4.bp.blogspot.com/-MXCdgmCfwRc/UQezaV_MLdI/AAAAAAAABck/N-dsAOjgvtk/s1600/avatar.jpg);
background-position:center center;
background-repeat:no-repeat;float:right;width:69px;max-height:69px;margin:1px;padding:1px;vertical-align:middle;overflow:hidden;}
.comments .avatar-image-container img{max-width:69px;height:69px;border-radius:100% 100% 100% 100%;margin:0;vertical-align:middle;box-shadow:0 0 0 1px #dddddd;}
.comments .comment-block{margin:26px 0px 0px 0px;position:relative;}
@media screen and (max-width:968px){
.menusearch{float:none;padding:5px 0 10px}
.main-wrapper{margin-right:0;width:58%;}
.sidebar-wrapper{border:none;margin:0 auto 10px;padding:0px;}
.credit{padding:20px!important}
#credit .left,#credit .right{
float:none;text-align:center;margin:0}
.outerpic-wrapper,.content-wrapper{padding:0}
#header2,.page-menu ul{text-align:center;width:100%;}
#header2{margin:auto;}
#header,.footer-wrapper, .isocial{display:none;}
}
@media screen and (max-width:768px){
.header-wrapper{margin-right:0;min-height:0;width:100%}
#header{text-align:center;width:100%;max-width:none}
#header-inner{margin:0px;}
#menu{position:relative}
#menu ul{background:#892f2d;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
#menu ul.menus{width:100%;position:static;padding-left:20px}
#menu li{display:block;float:none;width:auto}
#menu input,#menu label{position:absolute;top:0;left:0;display:block}
#menu input{z-index:4}
#menu input:checked + label{color:white}
#menu input:checked~ ul{display:block}
.page-menu li a{border-right:0}
.post h1, .post h2 {font-size: 16px;}
.gritline {float:left;margin:0px 20px 15px 0px;width:47%;}
}
@media screen and (max-width:760px){
.page-menu{margin:0}
.outer-wrapper{padding:0}
#content{clear:both;border:none;padding:0}
.main-wrapper{margin-right:0;width:100%;min-height:0}
.sidebar-wrapper{position:relative;top:auto;right:auto;
clear:both;left:auto;width:auto;background:none;padding:0px}
#comment-editor{margin-right:10px;}
.footer{width:auto;margin:15px}
#subscription-updates, .subimage,.socialpage{display:none;}
}
@media screen and (max-width:685px){
.gritline {float:left;margin:0px 20px 15px 0px;width:46%;}
.sidebar-wrapper {float:none;}
}
@media screen and (max-width:480px){
#header img{width:100%}
.post-comment-link{display:none}
.comments .comments-content .comment-replies{margin-left:0;}
.footer-header,.home-link{display:none;}
.middlesection,.gritline {width: 100%;margin:0px 0px 10px 0px;}
}
@media screen and (max-width:320px){
.comments .comments-content .datetime{display:block;float:none}
.comments .comments-content .comment-header{height:70px}
}
@media screen and (max-width:240px){
.header-wrapper{margin-right:0;min-height:0;width:100%}
#header{text-align:center;width:100%;max-width:none;}
#header-inner{margin:0px;}
#header img{border:0 none;background:none;width:auto;height:auto;margin:0 auto}
.comments .comments-content .comment-replies{margin-left:0}
}